.primeiroBloco{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.segundoBloco{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.style{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}