.Cadastro {
  margin-left: 50px;
    button{
      background-color: rgb(147, 219, 224);
      color: white;
      margin: 20px;
      font-weight: 600;
      height: 50px;
      width: 200px;
      border-radius: 20%;
      border: 1px solid white;
      font-family: 'Courier New', Courier, monospace;
      cursor: pointer;
      }
      p{
        font-family: 'Courier New', Courier, monospace;
        color:green;
        font-weight: 600;
      }
  }
  
